@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap"); */

/*
#02111B
#3F4045
#495057
#30292F
#5D737E
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  font-size: 24px;
  min-height: 100vh;
  color: #495057;
  background-color: #5d737e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  min-width: 80vh;
  min-height: 50vh;
  margin: auto 10px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bill-container {
  border-radius: 20px;
  width: 100%;
  color: #495057;
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
  margin-top: 0;
}

.bill-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bill-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tip-container {
  background-color: #02111be3;
  border-radius: 20px;
  width: 100%;
  color: #ffff;
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
  margin-top: 0;
}

.output div {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.output span > strong {
  font-size: 2rem;
  color: #7a95a3;
  justify-content: end;
}

.output span {
  font-size: 12px;
  color: #b3b9b9;
}

.output p {
  display: grid;
}

.select-bill p {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 5%;
  color: #495057;
}

.select-bill input {
  font-size: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input {
  border: 1px solid #02111b42;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #7f9c9f;
}
.select-bill span {
  font-size: 12px;
  width: 10px;
}

.select-tip select {
  color: #02111b;
  background-color: #7f9c9f;
  border: 2px solid #7f9c9f;
  border-radius: 20px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 20px;
}

.btnReset {
  font-family: inherit;
  background-color: #5e7a7d;
  color: #02111b;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid #5e7a7d;
  padding: 0 2.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
  margin: 0 auto;
  width: 100%;
  height: 90%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #02111b;
}

@media (max-width: 1920px), (max-height: 1080px) {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    min-width: 90vh;
    min-height: 60vh;
    margin: auto auto 1rem auto;
    padding: 2rem;
  }
  .bill-container {
    margin: 0 auto 0 auto;
  }

  .tip-container {
    margin: 0 auto 0 auto;
  }
  .btnReset {
    margin: auto auto 0 auto;
    width: 80%;
    height: 50%;
  }
}

/* @media (max-width: 1280px), (max-height: 720px) {
  .container {
    min-width: 60vh;
    min-height: 60vh;
    margin: auto 10px;
    padding: 2rem 1.2rem;
    display: flex;
    justify-content: space-between;
  }
  .bill-container {
    margin: 10% auto 10% auto;
  }

  .tip-container {
    margin: 10% auto 10% auto;
  }
  .btnReset {
    padding: 1rem;
    margin: 10px auto;
  }
} */

@media (max-width: 360px), (max-height: 800px) {
  .container {
    min-width: 40vh;
    min-height: 30vh;
    margin: auto auto 1rem auto;
    padding: 1rem;
    display: block;
    justify-content: space-between;
  }
  .bill-container {
    margin: 10% auto 10% auto;
  }

  .tip-container {
    margin: 10% auto 0 auto;
  }

  .output div {
    font-size: 20px;
  }

  .output span > strong {
    font-size: 25px;
  }

  .btnReset {
    margin: auto auto 0 auto;
    width: 80%;
    height: 30px;
  }
}

/* @media (max-width: 390px), (max-height: 844px) {
  .container {
    min-width: 40vh;
    min-height: 80vh;
    margin: auto 10px;
    padding: 1rem;
    display: block;
    justify-content: space-between;
  }
  .bill-container {
    margin: 10% auto 10% auto;
  }

  .tip-container {
    margin: 10% auto 10% auto;
  }
  .btnReset {
    padding: 1rem;
    margin: 10px auto;
  }
} */
